* {
  margin: 0;
}
.header { 
  color: "#fff";
  background-color: #26a63b;
  height: 100px;
  
}
.headerText {
  margin-left: 150px;
  position: absolute;
  margin-top: 60px;
  font-size: 1.4em;
  color: white;
  

}